* {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}
body {
   overflow-x: hidden; 
  background: #000;
  color: #ccefff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 1px solid #00eaff55;
  background: rgba(0,0,0,0.95);
  box-shadow: 0 2px 10px #00eaff33;
}


.topbar h1 {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.topbar h1 span {
  color: #00eaff;
}

nav a {
  color: #ccefff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
 color: #42fff6;
}

.contact-section {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.contact-header .text {
  max-width: 450px;
}

.contact-header h2 {
  color: #42ffe9;
  font-size: 2em;
}

.contact-header p {
  color: #ccefff;
  line-height: 1.6;
}

.contact-img {
  width: 300px;
  border-radius: 10px;
  border: 1px solid #00eaff55;
  box-shadow: 0 0 15px #00eaff33;
  transition: 0.3s;
}

.contact-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00eaff88;
}

.contact-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 40px;
}

.contact-card {
  width: 280px;
  background: rgba(255,255,255,0.05);
  border: 1px solid #00eaff55;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00eaff88;
}

.contact-card h3 {
  color: #00eaff;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-card p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}


footer {
  text-align: center;
  padding: 15px;
  color: #fff;
  border-top: 1px solid #00eaff55;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .box, .card, container, input, button {
    max-width: 100% !important;
    width: 100% !important;
  }
}
