body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #000;
  color: #fff;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #00eaff;
  background: rgba(0,0,0,0.95);
}

.topbar h1 span {
  color: #00eaff;
}

nav a {
  color: #ccc;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #42fff6;
}

.main {
  text-align: center;
  padding: 50px 20px;
}

.main h2 {
  color: #42ffe9;
  margin-bottom: 10px;
}

.main p {
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 30px;
}

.calc-box {
  background: rgba(255,255,255,0.05);
  border: 1px solid #00eaff55;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto 40px;
}

.calc-box input {
  width: 100%;
  padding: 10px;
  background: #111;
  border: 1px solid #00eaff55;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 10px;
}

.calc-box button {
  width: 100%;
  padding: 10px;
  background: #b91ecd;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.calc-box button:hover {
  background: #00eaff;
  color: #000;
}

.result-box {
  margin-top: 15px;
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 6px;
}

.info-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  flex: 1 1 320px;
  min-height: 200px;
  background: rgba(255,255,255,0.05);
  border: 1px solid #00eaff55;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #00eaff88;
}

.card h3 {
  color: #a1ff42;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.card p {
  color: #ccc;
  font-size: 0.95em;
  line-height: 1.5em;
}


footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #00eaff55;
  color: #aaa;
}


.search-box {
  background: rgba(255,255,255,0.05);
  border: 1px solid #00eaff55;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto 30px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  background: #111;
  border: 1px solid #00eaff55;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 10px;
}

.search-box button {
  width: 100%;
  padding: 10px;
  background: #b91ecd;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.search-box button:hover {
  background: #00eaff;
  color: #000;
}

.search-box {
  background: rgba(255,255,255,0.05);
  border: 1px solid #00eaff55;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  margin: 60px auto;
  text-align: center;
}

.search-box:hover {
  box-shadow: 0 0 15px #00eaff55;
}

